<form method="POST" class="form">
	<input type="text" name="username"  class="form-control" placeholder="Username" />
	<input type="password" name="password"  class="form-control" placeholder="" />
	<button type="submit" class="btn btn-default">Register</button>
</form>