.card-update .img-admin-upload img {
	height: 150px;
	width: auto;
	margin: auto;
}

.card-update .img-admin-upload div.image-wrapper {
	position: relative;
	text-align: center;
}

.card-update .img-admin-upload div.image-wrapper label {
	position: absolute;
	right: 0px;
}

.card-update .img-user-upload img {
	height: 150px;
	width: auto;
	margin: auto;
}

.card-update .img-user-upload div.image-wrapper {
	position: relative;
	text-align: center;
}

.card-update .img-user-upload div.image-wrapper label {
	position: absolute;
	right: 0px;
}